
h1 {
    display: inline-block;
    margin-right: 2%;
}

.vertical-line {
  width: 2px;
  height: 50vh; 
  background-color: #000; 
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.img1 {
  position: absolute;
  top: 20%;
  left: 33%;
  width: 8%;
  height: 20%;
}

.img2 {
  position: absolute;
  top: 20%;
  left: 59%;
  width: 8%;
  height: 20%;
}

.hr1 {
  height: 2px;
  position: absolute;
  left: 30%;
  top: 70%;
  width: 39%;
}
